<div class="contenedor">

    <form id='loginForm' action='/login' method="post">
        <div class="welcome">Logueate moster</div>
        <div class="mb-1 col-auto" >
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email"aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contrasena</label>
          <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="Contrasenia">
        </div>
        <input type="submit" class="btn btn-primary" value="Loguearse">
      </form>
      <button id='irARegistroButton' class="btn btn-secondary">ir a Registro</button>
</div>