<div class="contenedor">

<form id='registerForm' action='/registro' method="post" enctype="application/x-www-form-urlencoded">
    <div class="welcome">Registrate moster</div>
    <div class="mb-1 col-auto" >
      <label for="username" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="username" name="username" aria-describedby="userNameHelp" placeholder="Usuario">
    </div>
    <div class="mb-1 col-auto" >
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email"aria-describedby="emailHelp" placeholder="Email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contrasena</label>
      <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="Contrasenia" required>
    </div>
    <input type="submit" value="Registrarse" class="btn btn-primary">
  </form>
  <button id='irALoginButton' class="btn btn-secondary">ir a Login</button>
</div>

